{% extends 'based_accounts.html' %}
{% block content %}
{% load static %}

<h2 class="mb-4 font-20 text-primary text-center">Buat Password Baru</h2>
<h4 class="mb-5 font-20 text-center">Silahkan masukkan password baru anda</h4>

<form method="POST">
    {% csrf_token %}

    <!-- Form Group -->
    <div class="form-group mb-4">
        <!-- <label for="username" class="mb-2 black bold">Username</label> -->
        {{ form }}
    </div>
    <!-- End Form Group -->

    <div class="d-flex align-items-center">
        <button type="submit" class="btn long mr-20">Reset Password</button>
    </div>
</form>


{% endblock %}
                    