{% extends 'home.html' %}
{% block content %}
{% load static %}

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
                <div class="col-md-4 col-sm-6">
                  {% for msg in messages %}
                  <div class="alert alert-primary m-3" role="alert">
                     {{ msg }}
                  </div>
                  {% endfor %}
                    <!-- Card -->
                    <div class="card mb-30 progress_1">
                       <div class="card-body">
                        <a href="{% url 'hadir' %}"><h4 class="progress-title">Hadir</h4></a>
                          <div class="ProgressBar-wrap position-relative mb-4">
                             <div class="ProgressBar ProgressBar_1" data-progress="75">
                                <svg class="ProgressBar-contentCircle" viewBox="0 0 200 200">
                                   <!-- on défini le l'angle et le centre de rotation du cercle -->
                                   <circle transform="rotate(135, 100, 100)" class="ProgressBar-background" cx="100" cy="100" r="8" />
                                   <circle transform="rotate(135, 100, 100)" class="ProgressBar-circle" cx="100" cy="100" r="85" />
                                </svg>
                                <span class="ProgressBar-percentage--text">
                                   Increase
                                </span>
                                <span class="ProgressBar-percentage ProgressBar-percentage--count"></span>
                             </div>
                          </div>

                          <div class="d-flex flex-wrap mb-2 progress-info">
                             <div>Users</div>
                             <div><img src="assets/img/svg/caret-up.svg" alt="" class="svg"> 2.6k</div>
                             <div><img src="assets/img/svg/caret-down.svg" alt="" class="svg">568</div>
                          </div>

                          
                          <div class="d-flex flex-wrap progress-info">
                             <div>Disabled</div>
                             <div><img src="assets/img/svg/caret-up.svg" alt="" class="svg">1.26k</div>
                             <div><img src="assets/img/svg/caret-down.svg" alt="" class="svg">25</div>
                          </div>
                       </div>
                    </div>
                    <!-- End Card -->
                 </div>
            </a>

                 <div class="col-md-4 col-sm-6">
                    <!-- Card -->
                    <div class="card mb-30 progress_2">
                       <div class="card-body">
                          <a href="{% url 'sakit' %}"><h4 class="progress-title">Sakit</h4></a>

                          <div class="ProgressBar-wrap position-relative mb-4">
                             <div class="ProgressBar ProgressBar_1" data-progress="75">
                                <svg class="ProgressBar-contentCircle" viewBox="0 0 200 200">
                                   <!-- on défini le l'angle et le centre de rotation du cercle -->
                                   <circle transform="rotate(135, 100, 100)" class="ProgressBar-background" cx="100" cy="100" r="8" />
                                   <circle transform="rotate(135, 100, 100)" class="ProgressBar-circle" cx="100" cy="100" r="85" />
                                </svg>
                                <span class="ProgressBar-percentage--text">
                                   Increase
                                </span>
                                <span class="ProgressBar-percentage ProgressBar-percentage--count"></span>
                             </div>
                          </div>

                          <div class="d-flex flex-wrap mb-2 progress-info">
                             <div>Users</div>
                             <div><img src="assets/img/svg/caret-up.svg" alt="" class="svg"> 2.6k</div>
                             <div><img src="assets/img/svg/caret-down.svg" alt="" class="svg">568</div>
                          </div>

                          
                          <div class="d-flex flex-wrap progress-info">
                             <div>Disabled</div>
                             <div><img src="assets/img/svg/caret-up.svg" alt="" class="svg">1.26k</div>
                             <div><img src="assets/img/svg/caret-down.svg" alt="" class="svg">25</div>
                          </div>
                       </div>
                    </div>
                    <!-- End Card -->
                 </div>

                 <div class="col-md-4 col-sm-6">
                    <!-- Card -->
                    <div class="card mb-30 progress_3">
                       <div class="card-body">
                        <a href="">
                          <h4 class="progress-title">Izin</h4></a>

                          <div class="ProgressBar-wrap position-relative mb-4">
                             <div class="ProgressBar ProgressBar_1" data-progress="75">
                                <svg class="ProgressBar-contentCircle" viewBox="0 0 200 200">
                                   <!-- on défini le l'angle et le centre de rotation du cercle -->
                                   <circle transform="rotate(135, 100, 100)" class="ProgressBar-background" cx="100" cy="100" r="8" />
                                   <circle transform="rotate(135, 100, 100)" class="ProgressBar-circle" cx="100" cy="100" r="85" />
                                </svg>
                                <span class="ProgressBar-percentage--text">
                                   Increase
                                </span>
                                <span class="ProgressBar-percentage ProgressBar-percentage--count"></span>
                             </div>
                          </div>

                          <div class="d-flex flex-wrap mb-2 progress-info">
                             <div>Users</div>
                             <div><img src="assets/img/svg/caret-up.svg" alt="" class="svg"> 2.6k</div>
                             <div><img src="assets/img/svg/caret-down.svg" alt="" class="svg">568</div>
                          </div>

                          
                          <div class="d-flex flex-wrap progress-info">
                             <div>Disabled</div>
                             <div><img src="assets/img/svg/caret-up.svg" alt="" class="svg">1.26k</div>
                             <div><img src="assets/img/svg/caret-down.svg" alt="" class="svg">25</div>
                          </div>
                       </div>
                    </div>
                    <!-- End Card -->
                 </div>
        </div>
    </div>
</div>

{% endblock %}